<div class="container">
    <div class="row">
      
      <table class="table">
        <thead>
          <tr>
            <th>Numéro d'appartement</th>
            <th>Étage</th>
            <th>Surface (m²)</th>
            <th>Terrasse</th>
            <th>Surface Terrasse (m²)</th>
            <th>Catégorie</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apartment of apartments">
            <td>{{ apartment.apartNum }}</td>
            <td>{{ apartment.floorNum }}</td>
            <td>{{ apartment.surface }}</td>
            <td>{{ apartment.terrace ? 'Oui' : 'Non' }}</td>
            <td>{{ apartment.surfaceterrace }}</td>
            <td>{{ apartment.category }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  